GITHUB_APP_ID=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_WEBHOOK_SECRET=
GITHUB_PRIVATE_KEY_PATH=private-key.pem
APP_URL=http://localhost:9000
FRONTEND_URL=http://localhost:5173
PUBLIC_URL=http://localhost:9000
HOST=0.0.0.0
PORT=9000
